@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fugaz One', sans-serif;
    color: rgb(235, 235, 235);
}

.activity-container {
    margin: 1rem 2.5rem 0.75rem;
}

.activity-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.activity-tag {
    display: inline-block;
    margin: 1rem 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.activity-tag-container {
    display: flex;
    align-items: center;
}

.activity-title {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 2.5rem 0.75rem;
    display: flex;
    align-items: center;
}

.activity-titles-container {
    position: sticky;
    top: 0;
    background-color: rgb(33, 33, 33);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.activity-panel {
    background-color: rgb(52, 52, 52);
    width: 60%;
    overflow-y: scroll;
    min-height: 450px;
    position: relative;
}

.activity-panel::-webkit-scrollbar {
    display: none;
}

.activity-week-title {
    font-weight: 100;
    margin-top: 1rem;
}

.avatar-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-rules-icon {
    margin: 1rem 0 0.75rem 0;
    border: 5px solid #000;
    border-radius: 50px;
}

.category-rules-text {
    margin: 0 1rem 1rem;
}

.color-container {
    background-color: rgb(33, 33, 33);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-width: 275px; */
    width: 275px;
}

.description-text {
    font-weight: 100;
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.league-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid rgb(33, 33, 33);
    margin-left: 0.4rem;
}

.league-type-title {
    margin: 1rem 2.5rem 0.75rem;
    display: flex;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    padding: 6px;
    color: rgb(33, 33, 33);
    background-color: rgb(235, 235, 235);
    vertical-align: middle;
    font-size: 1.2rem;
}

.league-type-title:hover {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}

.logo {
    margin: 1.5rem 0 2rem;
    width: 225px;
    height: 140px;
}

.logo-alternative {
    width: 200px;
    height: 47px;
    margin: 1rem;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.punishment-title {
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    padding: 6px;
    color: rgb(33, 33, 33);
    background-color: rgb(235, 235, 235);
}

.punishment-title:hover {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}

.punishment-close-modal-btn {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.punishment-close-modal-btn:hover {
    color: black;
}

.punishment-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.punishment-modal-container {
    background-color: rgb(52, 52, 52);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #3e3c3c;
    border-radius: 20px;
    width: 80%;
}

.punishment-modal-title {
    text-align: center;
}

.rank-name {
    width: 50%;
    padding-left: 5px;
    font-weight: 100;
    font-size: 1.1rem;
}

.rank-points {
    width: 25%;
    padding-left: 20px;
    font-weight: 100;
    font-size: 1rem;
}

.ranking-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.4rem 0;
    justify-content: center;
}

.rankings-panel {
    background-color: rgb(33, 33, 33);
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rankings-title {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 1rem 0;
}

.weekly-categories-title {
    font-weight: 100;
    margin-bottom: 1rem;
}

.yearly-categories-title {
    font-weight: 100;
    margin: 2rem 0 1rem 0;
}

.year1:hover, .year1:focus, .year1:active {
    background-color: rgb(33, 33, 33);
}

.year2:hover, .year2:focus, .year2:active {
    background-color: #551010;
}

.year3:hover, .year3:focus, .year3:active {
    background-color: #0B1643;
}

.year4:hover, .year4:focus, .year4:active {
    background-color: #15400C;
}

.year5:hover, .year5:focus, .year5:active {
    background-color: #3E0D43;
}

.year6:hover, .year6:focus, .year6:active {
    background-color: #484009;
}

.year7:hover, .year7:focus, .year7:active {
    background-color: #0A4948;
}

.year8:hover, .year8:focus, .year8:active {
    background-color: #441A0A;
}

.year9:hover, .year9:focus, .year9:active {
    background-color: #240B3F;
}

.year10:hover, .year10:focus, .year10:active {
    background-color: rgb(33, 33, 33);
}

.years-panel {
    background-color: rgb(33, 33, 33);
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.years-panel-responsive {
    display: none;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
}

.year-selector {
    margin: 1rem;
    background-color: rgb(52, 52, 52);
    border: none;
    height: 30px;
    border-radius: 0;
    font-size: 1.1rem;
}

.year-selector option {
    background-color: rgb(52, 52, 52);
}

.year-titles {
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/*----------------------------------------------------- Mobile (Portrait) -----------------------------------------------------*/

@media screen and (max-width: 425px) {
    .activity-container {
        margin: 1rem;
    }

    .activity-panel {
        width: 100%;
    }

    .activity-title {
        font-size: 1.4rem;
        margin-left: 1rem;
    }

    .avatar-img {
        height: 50px;
        width: 50px;
    }

    .categories-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-rules-icon {
        margin: 1rem 0 0.5rem;
    }

    .color-container {
        width: 175px;
        height: 175px;
        text-align: center;
        display: block;
    }

    .league-icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid rgb(33, 33, 33);
        margin-left: 0.4rem;
    }
    
    .league-type-title {
        font-size: .75rem;
        margin-right: 0.8rem;
    }

    .main-container {
        flex-direction: column;
    }

    .punishment-title {
        margin: 2rem auto;
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
    }

    .rank-name {
        font-size: 1.3rem;
    }

    .rank-points {
        font-size: 1.3rem;
    }

    .ranking-container {
        margin: 0.6rem 0;
    }

    .rankings-panel {
        width: 100%;
        align-items: start;
    }

    .rankings-title {
        margin: 1rem;
        font-size: 1.4rem;
    }

    .years-panel {
        display: none;
    }

    .years-panel-responsive {
        display: flex;
    }
}

/*----------------------------------------------------- Mobile (Landscape) -----------------------------------------------------*/


@media screen and (min-width: 426px) and (max-width: 768px) {
    .activity-panel {
        width: 100%;
    }

    .avatar-img {
        height: 50px;
        width: 50px;
    }

    .categories-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-container {
        flex-direction: column;
    }

    .punishment-title {
        margin: 2rem auto;
        font-size: 1.5rem;
        width: 40%;
        text-align: center;
    }

    .rankings-panel {
        width: 100%;
    }

    .rank-name {
        font-size: 1.5rem;
    }

    .rank-points {
        font-size: 1.5rem;
    }

    .rankings-title {
        align-self: start;
        margin: 1rem 2.5rem;
    }

    .years-panel {
        display: none;
    }
}

/*----------------------------------------------------- Tablet (Portrait) -----------------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .activity-container {
        margin: 1rem;
    }

    .activity-icon {
        height: 50px;
        width: 50px;
    }

    .activity-panel {
        width: 100%;
        min-height: 600px;
    }

    .activity-tag {
        font-size: 1.3rem;
        margin: 1.5rem;
    }

    .activity-title {
        font-size: 1.8rem;
        margin-left: 1rem;
    }

    .activity-week-title {
        font-size: 1.5rem;
    }

    .avatar-img {
        height: 60px;
        width: 60px;
    }

    .categories-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .category-rules-icon {
        margin: 1rem 0 0.5rem;
    }

    .color-container {
        width: 175px;
        height: 175px;
        text-align: center;
        display: block;
    }

    .description-text {
        font-size: 1.2rem;
    }

    .league-icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid rgb(33, 33, 33);
        margin-left: 0.4rem;
    }
    
    .league-type-title {
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }

    .logo-alternative {
        width: 300px;
        height: 71px;
        margin: 1rem;
    }

    .main-container {
        flex-direction: column;
    }

    .punishment-title {
        margin: 2rem auto;
        font-size: 1.5rem;
        width: 40%;
        text-align: center;
    }

    .rank-name {
        font-size: 1.7rem;
    }

    .rank-points {
        font-size: 1.7rem;
    }

    .ranking-container {
        margin: 0.6rem 0;
    }

    .rankings-panel {
        width: 100%;
        align-items: start;
    }

    .rankings-title {
        margin: 1rem;
        font-size: 1.8rem;
    }

    .weekly-categories-title {
        font-size: 1.4rem;
    }

    .year-selector {
        margin: 1rem;
        background-color: rgb(52, 52, 52);
        height: 50px;
        font-size: 1.3rem;
    }

    .yearly-categories-title {
        font-size: 1.4rem;
    }

    .years-panel {
        display: none;
    }

    .years-panel-responsive {
        display: flex;
    }
}

/*----------------------------------------------------- Tablet (Landscape) -----------------------------------------------------*/

@media screen and (min-width: 1025px) and (max-width: 1325px) {
    .categories-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .rankings-panel{
        width: 22%;
    }

    .rankings-title {
        font-size: 1.3rem;
    }

    .years-panel-responsive {
        display: none;
    }
}

/*----------------------------------------------------- Computer ---------------------------------------------------------------*/


@media screen and (min-width: 1326px) {
    .years-panel-responsive {
        display: none;
    }
}